.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.modal__content {
  background-image: url(../images/straws.png);
  width: 32rem;

  margin-top: -15rem;

  border-radius: 1.6rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal__info {
  color: #fff;
  font-size: 1.6rem;
  margin: 1.6rem 1.6rem 0.8rem;

  position: relative;
}

.modal__info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7rem;
}

#modal__button {
  color: #fff;

  background-color: transparent;
  border: none;

  display: flex;
}

#modal__button:hover {
  color: #000;
  opacity: 0.3;

  cursor: pointer;
}

.modal__name {
  font-weight: 400;
  text-transform: capitalize;
}

.modal__number {
  color: #000;
  opacity: 0.3;
}

.modal__img {
  display: block;
  width: 50%;
  margin: 0 auto;

  position: absolute;
  right: 1rem;
  top: 8.5rem;
}

.modal__detail {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 1.6rem;

  padding: 1.9rem 1.6rem;
}

.modal__section {
  font-size: 1.5rem;
}

.modal__types {
  text-transform: capitalize;
}

.modal__skills {
  text-transform: capitalize;
}

.hidden {
  display: none;
}

.overflow {
  overflow: hidden;
}
