.pokedex {
  padding: 1.6rem;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.pokedex h1 {
  text-align: center;
  color: #ffcb00;
  text-shadow: 2px 2px 4px rgb(44, 109, 184);

  text-transform: uppercase;
  font-style: italic;
}

.pokedex__list {
  display: grid;
  grid-template-columns: 1fr;

  list-style: none;
}

.pokedex__pokemon {
  margin: 0.8rem;
  padding: 2.4rem 1.6rem;

  border-radius: 1.6rem;

  display: flex;
  flex-direction: column;

  position: relative;

  transition: box-shadow 0.3s ease;
}

.pokedex__pokemon:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.pokedex__number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 1rem;
}

.pokedex__name {
  color: #fff;
  text-transform: capitalize;
}

.pokedex__detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokedex__types {
  list-style: none;
}

.pokedex__type {
  color: #fff;
  text-align: center;
  filter: brightness(1.1);
  padding: 0.4rem 0.8rem;
  margin: 0.4rem 0;
  font-size: 1rem;
  border-radius: 1.6rem;
}

.pokedex__img {
  max-width: 100%;
  height: 7rem;
  align-self: flex-end;
}

.pokedex__pagination {
  width: 100%;
  padding: 0.8rem;
}

.pokedex__button {
  width: 100%;
  color: #6c79db;
  font-size: 1.6rem;

  background-color: transparent;

  padding: 0.8rem;

  border: none;
  border-radius: 1.6rem;
  box-shadow: 1px 1px 4px rgba(108, 121, 219, 0.3);

  cursor: pointer;

  transition: background-color 0.3s ease;
}

.pokedex__button span {
  display: block;
}

.pokedex__button:hover {
  color: #fff;
  background-color: #6c79db;
}

@media screen and (min-width: 380px) {
  .pokedex__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokedex {
    border-radius: 1rem;
  }
  .pokedex__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokedex {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }

  .pokedex__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
